<template name="leftSidebar">
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="https://image.eveonline.com/Character/{{ currentUser.services.eve.character.id }}_256.jpg" class="img-circle" alt="{{ currentUser.profile.name }}">
        </div>
        <div class="pull-left info">
          <p>{{currentUser.profile.name}}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN</li>
        <li class="{{isActiveRoute 'dashboard'}}"><a href="{{pathFor 'dashboard'}}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li class="{{isActiveRoute 'groupList'}}"><a href="{{pathFor 'groupList'}}"><i class="fa fa-users"></i> <span>Groups</span></a></li>
        <li class="{{isActiveRoute 'help'}}"><a href="{{pathFor 'help'}}"><i class="fa fa-question"></i> <span>Help</span></a></li>
        <li class="header">ADDONS</li>
        {{#if servicesActive}}
          <li class="{{isActiveRoute 'serviceList'}}"><a href="{{pathFor 'serviceList'}}"><i class="fa fa-cubes"></i> <span>Services</span></a></li>
        {{/if}}
        {{#if timersActive}}
          <li class="{{isActiveRoute 'timerList'}}">
            <a href="{{pathFor 'timerList'}}">
              <i class="fa fa-hourglass"></i> <span>Timers</span>{{#if timers}}<small class="label label-warning pull-right">{{getLength timers}}</small>{{/if}}
            </a>
          </li>
        {{/if}}
        {{#if srpActive}}
          <li class="{{isActiveRoute 'srpList'}}">
            <a href="{{pathFor 'srpList'}}">
              <i class="fa fa-ils"></i> <span>SRP</span>{{#if srpPending}}<small class="label label-success pull-right">{{getLength srpPending}}</small>{{/if}}
            </a>
          </li>
        {{/if}}
        <li class="header">MANAGE</li>
        {{#if hasRole 'manage-users'}}
          <li class="{{isActiveRoute 'manageUserList'}}"><a href="{{pathFor 'manageUserList'}}"><i class="fa fa-user"></i> <span>Users</span></a></li>
        {{/if}}
        {{#if hasRole 'manage-groups'}}
          <li class="{{isActivePath  regex='/manage\/group'}}"><a href="{{pathFor 'manageGroupList'}}"><i class="fa fa-users"></i> <span>Groups</span></a></li>
        {{/if}}
        {{#if servicesActive}}
          {{#if hasRole 'manage-services'}}
            <li class="{{isActiveRoute 'manageServiceList'}}"><a href="{{pathFor 'manageServiceList'}}"><i class="fa fa-cubes"></i> <span>Services</span></a></li>
          {{/if}}
        {{/if}}
        {{#if timersActive}}
          {{#if hasRole 'manage-timers'}}
            <li class="{{isActiveRoute 'manageTimerList'}}">
              <a href="{{pathFor 'manageTimerList'}}"><i class="fa fa-hourglass"></i> <span>Timers</span>{{#if timers}}<small class="label label-warning pull-right">{{getLength timers}}</small>{{/if}}
              </a>
            </li>
          {{/if}}
        {{/if}}
        {{#if srpActive}}
          {{#if hasRole 'manage-srp'}}
            <li class="{{isActiveRoute 'manageSrpList'}}">
              <a href="{{pathFor 'manageSrpList'}}">
                <i class="fa fa-ils"></i> <span>SRP</span>{{#if srpPending}}<small class="label label-success pull-right">{{getLength manageSrpPending}}</small>{{/if}}
              </a>
            </li>
          {{/if}}
        {{/if}}
        {{#if hasRole 'admin'}}
          <li class="header">ADMINISTRATION</li>
          <li class="{{isActiveRoute 'adminDashboard'}}"><a href="{{pathFor 'adminDashboard'}}"><i class="fa fa-circle-o text-red"></i> <span>Admin</span></a></li>
        {{/if}}
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>
